@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__content {
    color: white;
    font-family: 'Oxanium', cursive;
}

.footer__heart {
    color: red;
}