@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    z-index: 1;

    /*add transition to anything on navbar*/
    transition: all 0.5s ease-in;
}

.nav__black {
    background-color: rgba(0,0,0,0.8);
}

.nav__logo {
    position: fixed;
    left: 10px;
    width: 220px;
    object-fit: contain;
    color: red;
    font-family: 'Playball', cursive;
}

.nav__logoIcon {
    color: white;
}