.row {
    margin-left: 16px;
    margin-right: 16px;
    color: white;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 24px 24px 24px 0px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.ob {
    width: 400px;
    max-height: 400px;
}
.row__poster {
    object-fit: contain;
    width: 400px;
    max-height: 400px;
    transition: transform 450ms;
    margin-right: 16px;
}

.row__poster:hover {
    transform: scale(1.10);
}
